@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    width: 393px;
    height: 852px;
    background: #1E1F23;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding: 53px 21.29px 46px 21px;

}

header>button {
    width: 26.714px;
    height: 26.714px;
    border-radius: 50%;
    border: 0;
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9.29px;
}

.n_1 {
    color: #FFF;
    font-family: "Yde street";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 171%;
    /* 30.78px */
    letter-spacing: -0.54px;
    margin-right: auto;

}

.myInfo {
    display: flex;
    padding-left: 21px;
    align-items: center;
}

.myInfoT {
    padding-left: 12px;
}

.userName {
    color: #E7E7E7;
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 22.5px */
}

.userInfo {
    color: #E7E7E7;
    font-family: 'GmarketSansMedium';
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 16.5px */
}

.modify {
    color: #FFF;
    font-family: 'GmarketSansMedium';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 19.8px */
    width: 351px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #292A2E;
    border: 0;
    box-sizing: border-box;
    margin: 27px 21px 17px 21px;
}

.NIndex {
    width: 393px;
    height: 87px;
    flex-shrink: 0;
    background: #292A2E;
    box-sizing: border-box;
    position: relative;
}

.NText {
    color: #FFF;
    font-family: 'GmarketSansMedium';
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    margin: 0 0 13px 14px;
    padding-top: 11px;
    /* 16.5px */
}

.range {
    width: 351px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #1E1F23;
    display: flex;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

.rangeBar {
    position: relative;
    width: 0%;
    border-radius: 9px;
    background: #00F5A0;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rangeBall {
    position: absolute;
    width: 21px;
    height: 21px;
    left: -7px;
}

/* 
0: -7px
20: 56px 
40: 126px
60: 195px
80: 265px
100: 338px
*/

ul {
    list-style-type: none;
    display: flex;
    width: 393px;
    padding: 8px 5px 0 17px;

    box-sizing: border-box;
    gap: 55px;
}

li {
    color: #8D8D8D;
    font-family: 'GmarketSansMedium';
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 16.5px */
}

.myPText {
    height: 52px;
    color: #FFF;
    font-family: 'GmarketSansMedium';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
    border-bottom: 1px solid #8D8D8D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px 0 21px;
}

.myPText>div {
    display: flex;
    align-items: center;
}

.myPText:last-of-type {
    color: #8D8D8D;
}

.hoverN {
    display: none;
    position: absolute;
    width: 172px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000;
    color: #FFF;
    font-family: 'GmarketSansMedium';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 13px 12px;
    left: 8px;
}

.show {
    display: block;
}

.moreInfo {
    width: 15px;
    height: 15px;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
    line-height: 15px;
}