header {
    flex-wrap: wrap;
}

ul {
    position: relative;
    padding: 57px 0 0 21px;
    list-style-type: none;
    display: flex;
    gap: 12px;
    width: 100%;
    border-bottom: 1px solid #8D8D8D;
    box-sizing: border-box;


}

li {
    text-align: center;
    position: absolute;
    color: #8D8D8D;
    font-family: 'GmarketSansMedium';
    font-size: 15.261px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 5.5px;
    bottom: -1px;

}

li:last-of-type {
    width: 41px;
    left: 78px;
}

.activeLi {
    border-bottom: 2px solid #00F5A0;
    color: #00F5A0;
}

.deadline {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 111.39px;
    height: 104.68px;
    flex-shrink: 0;
    border-radius: 6px;
    background: rgba(88, 88, 88, 0.82);
    color: #FFF;
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    top: 13px;
    left: 11px;
    box-sizing: border-box;
    /* 22.5px */
}

.productImg {
    position: relative;

}