@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YdestreetB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.notice_board_ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}

.category_ct2 {
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: center;
    overflow-x: auto;
    margin-top: 3px;
    margin-bottom: 17px;
    cursor: grab;
    user-select: none;

}

.category_ct2.active {
    cursor: grabbing;
}

.category_ct2::-webkit-scrollbar {
    display: none;
    /* 크롬, 사파리, 엣지 */
}

/* 아이템 크기는 그대로 유지 */
.category2 {
    flex: 0 0 auto;
    width: 62px;
    height: 57px;
    border-radius: 6px;
    background-color: #292A2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.category_word2 {
    margin: 0;
}


.footer2 {
    color: #00F5A0;
    font-family: 'GmarketSansMedium';
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
}